.template {
  padding: 20px 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  max-width: 80vw;
  padding: 15px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: #eee;
  border-radius: 0.2em;
  margin-top: 40px;
}

.welcome {
  max-width: 60%;
}

.template label {
  font-size: large;
}

.template div {
  text-align: left;
  font-size: 24px;
}

h1#usernameTitle {
  margin: 20px 0;
}

a {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 1em 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  font-size: large;
  width: 100%;
  background-color: white;
}

a:hover {
  color: #000000;
  background-color: rgb(184, 197, 255);
}

#logoutBtn {
  max-width: 200px;
}

table {
  margin: 3rem 0;
  width: 100%;
  text-align: center;
}

table th {
  text-align: center;
}

table td, th {
  padding: 0.25em;
  font-size: 1.5rem;
}

nav {
  height: 50px;
  background: #eee;
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li:not(:last-of-type) {
  margin-right: 1.5rem;
}

nav ul li a {
  margin: 0;
}

.leagueTitle {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.tableContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableContainer:not(:last-of-type) {
  border-bottom: 2px solid #000;
}

.leagueTable {
  margin-top: 1.5rem;
}

.leagueTable th {
  font-size: 12px;
}

.tableContainer p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

/* button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  margin:1em 0.3em 0.3em 0;
  border-radius:0.20em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:black;
  text-align:center;
  transition: all 0.2s;
  font-size: large;
  width: 100%;
  background-color: white;
}

button:hover{
  color:#000000;
  background-color: rgb(184, 197, 255);
} */
