body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  background-color: #eee;
  border: 2px solid black;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  margin:1em 0.3em 0.3em 0;
  border-radius:0.20em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:black;
  text-align:center;
  transition: all 0.2s;
  font-size: large;
  width: 100%;
  background-color: white;
}

button:hover{
  color:#000000;
  background-color: rgb(184, 197, 255);
}