{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Home
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='index.css')}}">
{% endblock %}

{% block content %}
<nav>
  <ul>
    <li><a href="{{ url_for('league') }}">League</a></li>
    <li><a href="{{ url_for('home') }}">My Roster</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
  </ul>
</nav>
<div class="container">
  <div class="template">
    <h1 id="usernameTitle">{{username}}'s Roster</h1>
    <p style="display: inline-block; font-size: 24px; margin: 0;">Total: {{ total_score }}</p>
    <table id="rosterTable" style="width:100%; text-align: center;">
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th id="yardage">Yardage <button id="yardagesBtn">-</button></th>
        <th>Cumulative Score <button id="scoreBtn">-</button></th>
      </tr>
      <tr id="QBRow">
        <td>QB</td>
        <td>{{ names['QB'] }}</td>
        <td id="QBYards">{{ player_stats['QB'] }}</td>
        <td id="QBPoints">{{ player_scores['QB'] }}</td>
      </tr>
      <tr id="WR1Row">
        <td>WR1</td>
        <td>{{ names['WR1'] }}</td>
        <td id="WR1Yards">{{ player_stats['WR1'] }}</td>
        <td id="WR1Points">{{ player_scores['WR1'] }}</td>
      </tr>
      <tr id="WR2Row">
        <td>WR2</td>
        <td>{{ names['WR2'] }}</td>
        <td id="WR2Yards">{{ player_stats['WR2'] }}</td>
        <td id="WR2Points">{{ player_scores['WR2'] }}</td>
      </tr>
      <tr id="RB1Row">
        <td>RB1</td>
        <td>{{ names['RB1'] }}</td>
        <td id="RB1Yards">{{ player_stats['RB1'] }}</td>
        <td id="RB1Points">{{ player_scores['RB1'] }}</td>
      </tr>
      <tr id="RB2Row">
        <td>RB2</td>
        <td>{{ names['RB2'] }}</td>
        <td id="RB2Yards">{{ player_stats['RB2'] }}</td>
        <td id="RB2Points">{{ player_scores['RB2'] }}</td>
      </tr>
      <tr id="TERow">
        <td>TE</td>
        <td>{{ names['TE'] }}</td>
        <td id="TEYards">{{ player_stats['TE'] }}</td>
        <td id="TEPoints">{{ player_scores['TE'] }}</td>
      </tr>
    </table>
  </div>
</div>
<div class="container">
  <div class="template">
    <form class="form-search" method="POST" action="/search">
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.searchName) }}
      <button type="submit">Search</button>
    </form>
  </div>
</div>

<script>
  let yardsSorted = 0
  let yardages = []

  let pointsSorted = 0
  let points = []
  pointsDisplay = []
  let pointsButton = document.querySelector('#scoreBtn')

  const positionsConst = ['QB', 'WR1', 'WR2', 'RB1', 'RB2', 'TE']
  for (let p of positionsConst) {
    yardages.push({
      row: document.querySelector(`#${p}Row`),
      yards: parseInt(document.querySelector(`#${p}Yards`).innerText)
    })
  }
  yardagesDisplay = []
  let yardagesButton = document.querySelector('#yardagesBtn')
  yardagesButton.onclick = e => {
    if (pointsSorted !== 0) {
      pointsDisplay = [...points]
      pointsButton.innerText = '-'
      pointsSorted = 0
    }
    switch(yardsSorted) {
      case 0:
        // Sort descending
        yardagesDisplay = [...yardages].sort((a, b) => b.yards - a.yards)
        yardsSorted = 1
        yardagesButton.innerText = 'D'
        buildDisplay(yardagesDisplay)
        break
      case 1:
        // Sort ascending
        yardagesDisplay = [...yardages].sort((a, b) => a.yards - b.yards)
        yardsSorted = 2
        yardagesButton.innerText = 'A'
        buildDisplay(yardagesDisplay)
        break
      case 2:
        // Revert to normal
        yardagesDisplay = [...yardages]
        yardsSorted = 0
        yardagesButton.innerText = '-'
        buildDisplay(yardagesDisplay)
        break
      default:
        yardagesDisplay = [...yardages]
        yardsSorted = 0
        yardagesButton.innerText = '-'
        buildDisplay(yardagesDisplay)
        break
    }
  };

  const buildDisplay = (order) => {
    let rosterTable = document.getElementById('rosterTable')

    rosterTable.deleteRow(1)
    for(let o of order) {
      rosterTable.appendChild(o.row)
    }
  }

  for (let p of positionsConst) {
    points.push({
      row: document.querySelector(`#${p}Row`),
      points: parseInt(document.querySelector(`#${p}Points`).innerText)
    })
  }
  pointsButton.onclick = e => {
    if (yardsSorted !== 0) {
      yardagesDisplay = [...yardages]
      yardagesButton.innerText = '-'
      yardsSorted = 0
    }
    switch (pointsSorted) {
      case 0:
        pointsDisplay = [...points].sort((a, b) => b.points - a.points)
        pointsSorted = 1
        pointsButton.innerText = 'D'
        buildDisplay(pointsDisplay)
        break
      case 1:
        pointsDisplay = [...points].sort((a, b) => a.points - b.points)
        pointsSorted = 2
        pointsButton.innerText = 'A'
        buildDisplay(pointsDisplay)
        break
      case 2:
        pointsDisplay = [...points]
        pointsSorted = 0
        pointsButton.innerText = '-'
        buildDisplay(pointsDisplay)
        break
      default:
       pointsDisplay = [...points]
        pointsSorted = 0
        pointsButton.innerText = '-'
        buildDisplay(pointsDisplay)
        break
    }
  }
</script>
{% endblock %}
