{% extends "bootstrap/base.html" %}

{% block title %}
Home
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='index.css')}}">
{% endblock %}

{% block nav %}
{% endblock nav %}

{% block content %}
<nav>
  <ul>
    <li><a href="#">League</a></li>
    <li><a href="{{ url_for('home') }}">My Roster</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
  </ul>
</nav>
<div class="container">
  <div class="template">
    <h1 id="usernameTitle">{{username}}'s Roster</h1>
    <table style="width:100%; text-align: center;">
      <tr>
        <th>QB</th>
        <th>WR</th>
        <th>WR</th>
        <th>RB</th>
        <th>RB</th>
        <th>TE</th>
      </tr>
      <tr>
        <td>{{ names['QB'] }}</td>
        <td>{{ names['WR1'] }}</td>
        <td>{{ names['WR2'] }}</td>
        <td>{{ names['RB1'] }}</td>
        <td>{{ names['RB2'] }}</td>
        <td>{{ names['TE'] }}</td>
      </tr>
    </table>
    <a id="logoutBtn" href="{{ url_for('logout') }}">Log Out</a>
  </div>
</div>
{% endblock %}
