{% extends "bootstrap/base.html" %}

{% block title %}
Home
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='index.css')}}">
{% endblock %}

{% block nav %}
{% endblock nav %}

{% block content %}
<nav>
  <ul>
    <li><a href="{{ url_for('league') }}">League</a></li>
    <li><a href="{{ url_for('home') }}">My Roster</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
  </ul>
</nav>
<div class="container">
  <div class="template">
    <table class="leagueTable">
      <tr>
        <th></th>
        <th>WK1</th>
        <th>WK2</th>
        <th>WK3</th>
        <th>WK4</th>
        <th>WK5</th>
        <th>WK6</th>
        <th>WK7</th>
        <th>WK8</th>
        <th>WK9</th>
        <th>WK10</th>
        <th>WK11</th>
        <th>WK12</th>
        <th>WK13</th>
        <th>WK14</th>
        <th>WK15</th>
        <th>WK16</th>
        <th>Total</th>
      </tr>
      {% for w in scores %}
        <tr>
          <td>{{ w.owner }}</td>
          {% for s in w['weekly_score'] %}
          <td>{{ s }}</td>
          {% endfor %}
          <td>{{w.total}}</td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
